


.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

 /*============HEADER STYLES==============*/

.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent {
    color: #2E2F42;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contact-link {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color:#434455 ;
}

.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}
/*============/HEADER STYLES==============*/

/*=============/MAIN STYLES================*/
.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;;
    font-size: 56px;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
}

.hero-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.advantages-title {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}
.team-item {
    background-color: #FFFFFF;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.name-title {
    color:#2E2F42;
    font-size: 20px;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    }

.job-text {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
/*=============/MAIN STYLES================*/

/*=============FOOTER STYLES================*/
.footer-logo {
    color: #4d5ae5 ;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-accent{
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.page-footer {
    background-color: #2E2F42;
}
/*=============/FOOTER STYLES================*/
